{% if messages %}

    {% for message in messages %}
        <div id="message" class="container">
            <div class="alert alert-{{ message.tags }}" alert-dismissable role="alert">
                <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>

                <strong>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS_ERROR %}
                        Error:
                    {% else %}
                        {{ message.tags|title }}
                    {% endif %}
                </strong>
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}

<script>
    // Get all info messages
    var info_messages = document.getElementsByClassName('alert');
    setTimeout(function(){
        for (var i = 0; i < info_messages.length; i ++) {
            // Set display attribute as !important, neccessary when using bootstrap
            info_messages[i].setAttribute('style', 'display:none !important');
        }
    }, 3000);
</script>