{% load mptt_tags %}
 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      {% recursetree departments %}
          <li>
            <a class="nav-link" href="{% url 'department' node.id %}">
            <span>{{ node.fullname }}</span>  
            </a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
          </li>
      {% endrecursetree %}
    </ul>

</aside><!-- End Sidebar-->